%h3 Settings
- @keys.each do |key|
  .form-group
    .row
      .col-4
        = label_tag(key + ' (' + Config.description(key) + ')', nil)
        = number_field_tag(key, Config.send(key), class: 'form-control', onkeypress: 'validate(event)', onchange: 'leave(event)')