.row
  .col-sm-6
    = link_to 'Prev', nil, class: 'btn btn-warning btn-block'
  .col-sm-6
    = link_to 'Next and paint', nil, class: 'btn btn-warning btn-block'
.row
  .col-sm-12
    = link_to 'Run', nil, class: 'btn btn-danger btn-block'