- velocity = Config.linear_velocity
- acceleration = Config.linear_acceleration
%dl.row
  %dt.col-sm-4
    Position
  %dd.col-sm-8
    x:
    %span#x
    y:
    %span#y
  %dt.col-sm-4
    Speed
  %dd.col-sm-8
    %span#speed
      = velocity.round
    mm/s
  %dt.col-sm-4
    Trajectory
  %dd.col-sm-8
    %span#current_trajectory
  %dt.col-sm-12
    =range_field_tag 'speed_range', velocity, class: 'custom-range', in: 0..500, step: 10, onchange: "onVelocityChange('#{layer_id}')"
  %hr
  %dt.col-sm-4
    Acceleration
  %dd.col-sm-8
    %span#acceleration
      = acceleration.round
    mm/s^2
  %dt.col-sm-12
    =range_field_tag 'acceleration_range', acceleration, class: 'custom-range', in: 0..500, step: 10, onchange: "onAccelerationChange('#{layer_id}')"
