- layer_id = params[:layer]
.row
  .col-md-9
    %h5
      =@image.name
    %object{data: @svg, type: 'image/svg+xml', id: 'svg'}
  .col-md-3
    %h5 Layers
    .btn-group.btn-group-vertical(role="group" aria-label="Layers")
      = link_to 'Whole image', root_path, class: layer_id.nil? ? 'btn btn-dark' :'btn btn-secondary'
      - @image.layers.each do |layer|
        - btn_class = (layer_id.present? and layer_id == layer.name) ? 'btn btn-dark' : 'btn btn-secondary'
        = link_to layer.name, root_path(layer: layer.name), class: btn_class

      %hr
      %button{class: 'btn btn-info', onclick: "paint('svg')"}
        Simulate
